<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Assignees</title>
</head>
<body>
<h1>List of Assignees</h1>
<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> name </th>
        <th> email </th>

    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(assignees)}">
        <td colspan="2"> No Assignees Available </td>
    </tr>
    <tr th:each="ass : ${assignees}">
        <td><span th:text="${ass.id}"> id </span></td>
        <td><a th:text="${ass.name}" th:href ="@{/show(id = ${ass.id})}" > name</a></td>
        <td><span th:text="${ass.email}"  > title </span></td>
        <td>
            <a th:href="@{/delAssignees(id = ${ass.id})}" href="/delAssignees">delete</a>
        </td>

    </tr>

    <a th:href="@{/newAssignee}">Add new</a>
    </tbody>
</table>
</body>
</html>