<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Todo list</title>
</head>
<body>

<h1>Today for today:</h1>

<a th:href="@{/addTodo}" href="/addTodo">Add new todo</a>

<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> done </th>
        <th> title </th>
        <th> urgent </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(todos)}">
        <td colspan="2"> No Todos Available </td>
    </tr>
    <tr th:each="todo : ${todos}">
        <td><span th:text="${todo.id}"> id </span></td>
        <td><span th:text="${todo.done}"> done</span></td>
        <td><span th:text="${todo.title}"> title </span></td>
        <td><span th:text="${todo.urgent}"> title </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>